@using TravelProject.Models; 
@model TravelProject.Models.BangGia
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/lightslider.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/cecfe00ec6.js" crossorigin="anonymous"></script>
<script src="~/Content/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/JQuery3.3.1.js"></script>
<script type="text/javascript" src="~/Content/js/lightslider.js"></script>
<script src="https://kit.fontawesome.com/a858033a2a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="~/Content/css/booking.css" />

<section class="tours">
    <div class="container">
        <div class="title">
            <h1>
                Booking A Tour
            </h1>
        </div>
        <div class="TourListContainer">
            <div class="Book-tour">
                <div class="tabs">
                    <div class="container">
                        <div id="tab-1" class="tab-item tab-border">
                            <p>Step 1</p>
                            <span>Import Information</span>
                        </div>
                        <div id="tab-2" class="tab-item">
                            <p>Step 2</p>
                            <span>Confirm</span>
                        </div>
                        <div id="tab-3" class="tab-item">
                            <p>Step 3</p>
                            <span>Pay</span>
                        </div>
                    </div>
                </div>
                <div class="step1">
                    <div id="tab-1-content" class="tab-content-item show">
                        <div class="tab-1-content-container">

                            <div class="Tour-inf">

                                <div class="Tour-inf-detail">
                                    <div class="content-tour">
                                        <span>Tour Information</span>
                                    </div>

                                    <div class="tour-inf-dt">
                                        <div class="Tour-name"><span>@ViewBag.tentour</span></div>
                                        <ul>
                                            <li>
                                                <div id="_matour" value=@ViewBag.matour><span>Tour Id : <strong>@ViewBag.matour</strong></span></div>
                                            </li>
                                            <li>
                                                <span>Time: <strong>@ViewBag.songay Days</strong></span>
                                            </li>
                                            <li>
                                                <span>Day Check-in: <input type="date" name="ngaycheckin" id="_ngaycheckin"></span>
                                            </li>
                                            @*<li>
                            <span>Day Check-out: <input type="date" id="_ngaycheckout"></span>
                        </li>*@
                                            <li>
                                                <span>Pick up place: <input type="text" id="_pickupplace"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="Tour-price">
                                    <div class="content-tour">
                                        <span>Tour Price</span>
                                    </div>
                                    <div class="Tour-price-table">
                                        <table>
                                            <tr>
                                                <th></th>
                                                <th>Vienamese</th>
                                                <th>Overseas Vietnamese</th>
                                                <th>Foreigner</th>
                                            </tr>
                                            <tr>
                                                <td>Adult (> 9 years old)</td>
                                                <td>@Model.GiaVN_NguoiLon</td>
                                                <td>@Model.GiaVK_NguoiLon</td>
                                                <td>@Model.GiaNC_NguoiLon</td>
                                            </tr>
                                            <tr>
                                                <td>Children (6 to 8 years old)</td>
                                                <td>@Model.GiaVN_TreEm</td>
                                                <td>@Model.GiaVK_TreEm</td>
                                                <td>@Model.GiaNC_TreEm</td>
                                            </tr>
                                            <tr>
                                                <td>Baby (< 5 years old)</td>
                                                <td>@Model.GiaVN_EmBe</td>
                                                <td>@Model.GiaVK_EmBe</td>
                                                <td>@Model.GiaNC_EmBe</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="note">
                                        <span>Note: Promotion applies (if any)</span>
                                        <div class="Currency_unit"><span>Currency unit : $</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="Contact-Person">
                                <div class="content-tour">
                                    <span>Contact Persion Information</span>
                                </div>
                                <div class="Contact-Person-Inf">
                                    <div class="boxrow1">
                                        <div class="box-container">
                                            <div class="cnt">
                                                <span>Full Name</span>
                                            </div>
                                            <input type="text" name="ten" class="box" id="tennlh">
                                        </div>
                                        <div class="box-container">
                                            <div class="cnt">
                                                <span>Email</span>
                                            </div>
                                            <input type="text" name="email" class="box" id="emailnlh">
                                        </div>
                                    </div>
                                    <div class="boxrow2">
                                        <div class="box-container">
                                            <div class="cnt">
                                                <span>Address</span>
                                            </div>
                                            <input type="text" name="diachi" class="box" id="diachinlh">
                                        </div>
                                         <div class="box-container">
                                            <div class="cnt">
                                                <span>Phone Number</span>
                                            </div>
                                            <input type="text" name="dienthoai" class="box" id="dtnlh">
                                        </div>
                                    </div>
                                    <div class="boxrow3">
                                        <div class="box-container">
                                            <div class="cnt">
                                                <span>Notes</span>
                                            </div>
                                            <input type="text" name="note" class="box" id="notenlh">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="List-customer">
                                <div class="content-tour">
                                    <span>List customers</span>
                                </div>
                                <div class="List-customer-detail">
                                    <div class="tablebar">
                                        <table id="tablecustomers">
                                            <tr>
                                                <th>Num</th>
                                                <th>Full Name</th>
                                                <th>Date Of Birth</th>
                                                <th>Address</th>
                                                <th>Sex</th>
                                                <th>Type</th>
                                                <th>Age</th>
                                                <th>Price</th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td><input type="text" class="fullname"></td>
                                                <td><input type="date" class="dateofb" id="dateofb1" onchange="CapNhatTuoi(event,1,@Model.GiaVN_NguoiLon,@Model.GiaVN_TreEm,@Model.GiaVN_EmBe,@Model.GiaVK_NguoiLon,@Model.GiaVK_TreEm,@Model.GiaVK_EmBe,@Model.GiaNC_NguoiLon,@Model.GiaNC_TreEm,@Model.GiaVN_EmBe)"></td>
                                                <td><input type="text" class="adr"></td>
                                                <td>
                                                    <select name="sex" class="sex">
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="typecustomer" class="typecustomer" id="loai1" onchange="CapNhatLoai(event,1,@Model.GiaVN_NguoiLon,@Model.GiaVN_TreEm,@Model.GiaVN_EmBe,@Model.GiaVK_NguoiLon,@Model.GiaVK_TreEm,@Model.GiaVK_EmBe,@Model.GiaNC_NguoiLon,@Model.GiaNC_TreEm,@Model.GiaVN_EmBe)">
                                                        <option value="VietNamese">VietNamese</option>
                                                        <option value="Overseas Vietnamese">Overseas Vietnamese</option>
                                                        <option value="Foreigner">Foreigner</option>
                                                    </select>
                                                </td>
                                                <td class="temp"><div class="age" id="age1"></div></td>
                                                <td class="temp"><div class="pri" id="pri1"></div></td>
                                                <td><button class="trash fas fa-trash" onclick="deletecustomer(this)"></button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><input type="text" class="fullname"></td>
                                                <td><input type="date" class="dateofb" id="dateofb2" onchange="CapNhatTuoi(event,2,@Model.GiaVN_NguoiLon,@Model.GiaVN_TreEm,@Model.GiaVN_EmBe,@Model.GiaVK_NguoiLon,@Model.GiaVK_TreEm,@Model.GiaVK_EmBe,@Model.GiaNC_NguoiLon,@Model.GiaNC_TreEm,@Model.GiaVN_EmBe)"></td>
                                                <td><input type="text" class="adr"></td>
                                                <td>
                                                    <select name="sex" class="sex">
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="typecustomer" class="typecustomer" id="loai2" onchange="CapNhatLoai(event,2,@Model.GiaVN_NguoiLon,@Model.GiaVN_TreEm,@Model.GiaVN_EmBe,@Model.GiaVK_NguoiLon,@Model.GiaVK_TreEm,@Model.GiaVK_EmBe,@Model.GiaNC_NguoiLon,@Model.GiaNC_TreEm,@Model.GiaVN_EmBe)">
                                                        <option value="VietNamese">VietNamese</option>
                                                        <option value="Overseas Vietnamese">Overseas Vietnamese</option>
                                                        <option value="Foreigner">Foreigner</option>
                                                    </select>
                                                </td>
                                                <td class="temp"><div class="age" id="age2"></div></td>
                                                <td class="temp"><div class="pri" id="pri2"></div></td>
                                                <td><button class="trash fas fa-trash" onclick="deletecustomer(this)"></button></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="insert-customer">
                                        <a class="insertBtn" onclick="insertCustomer(@Model.GiaVN_NguoiLon,@Model.GiaVN_TreEm,@Model.GiaVN_EmBe,@Model.GiaVK_NguoiLon,@Model.GiaVK_TreEm,@Model.GiaVK_EmBe,@Model.GiaNC_NguoiLon,@Model.GiaNC_TreEm,@Model.GiaVN_EmBe)">Insert Customers</a>
                                    @*<div class="SaleId">
                                        <div class="cnt"><span>Discount Code</span></div>
                                        <input type="text" class="discountcode">
                                        <button onclick="Kichhoat(@modelGiamGia)">Activate</button>
                                    </div>*@
                                    </div>
                                    <div class="Money">
                                        <div class="note">
                                            <span><strong>Notes :</strong>The unit price includes tour price and other surcharges (if any)</span>
                                        </div>
                                        <div class="price">
                                            <strong>Total Price :</strong>
                                            <div class="price1>"><span id="tonggiatien">0 $</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          
                            <div class="btnbook">
                                 <button type="submit" class="btn btn-big contact-btn" value="Book Tour" onclick="gotostep('2')">
                                     <i class="fas fa-envelope"></i>
                                        Book Tour
                                 </button>
                            </div>
    
                        </div>
                    </div>

                    <div id="tab-2-content" class="tab-content-item">
                        <div class="loader"></div>
                    </div>
                    <div id="tab-3-content" class="tab-content-item">
                        <div class="ThongTin_Dat">
                            <div class="ThongTinTour">
                                <div class="content-tour">
                                    <span>Tour Information</span>
                                </div>
                                <div class="tour-information">
                                    <ul>
                                        <li>
                                            <span>Tour Id : <strong>@ViewBag.matour</strong></span>
                                        </li>
                                        <li>
                                            <span>Time: <strong>@ViewBag.songay Days</strong></span>
                                        </li>
                                        <li>
                                            <span>Day Check-in: <strong id="ngaycheckin2">25/05/2020</strong></span>
                                        </li>
                                        <li>
                                            <span>Pick up place: <strong id="diadiemdon">Ha Noi</strong></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ThongTinDatTour">
                                <div class="content-tour">
                                    <span>Tour Information</span>
                                </div>
                                <div class="tour-dat-if">
                                    <div class="nd">
                                        <ul>
                                            <li>
                                                <span>Full Name : <strong id="fullname">Jack Sparrows</strong></span>
                                            </li>
                                            <li>
                                                <span>Address : <strong id="diachi2">ABCYS-FAKJ-DJJKAAK</strong></span>
                                            </li>
                                            <li>
                                                <span>Phone Number: <strong id="sdt2">25/05/2020</strong></span>
                                            </li>
                                            <li>
                                                <span>Email: <strong id="email2">28/05/2020</strong></span>
                                            </li>
                                            <li>
                                                <span>Time Booking: <strong id="tgbook">Ha Noi</strong></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nd2">
                                        <div class="Mess">
                                            <div class="vuong">We have been sent a QRCode to your email. Please take it to our ticket room</div>
                                        </div>
                                        <div class="Sotien">Total Price: <strong id="tien2">10000000</strong></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Content/js/booking.js"></script>